@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-color: rgb(29, 26, 26);
    height: 100vh;
    margin: 0;
}
#content_name_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    background-color: rgb(29, 26, 26);
    padding: 10px 20px 10px 20px;
}
#content_name_page img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
section{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
#content_reglage{
    width: 200px;
    display: flex;
    flex-direction: row;
}
#menu{
    width: 200px;
    display: flex;
    flex-direction: column;
}
#menu li{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    border-radius: 0 30px 30px 0;
    padding: 0 5px 0 5px;
    align-items: center;
}
/* #myprofil{
    background-color: blue;
} */
#menu li:hover{
    background-color: rgba(221, 221, 221, 0.774);
}
.color-button.selected {
    background-color: blue; /* Couleur du bouton sélectionné */
}

.color-button.not-selected {
    background-color: transparent; /* Couleur des boutons non sélectionnés */
}
#menu li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
#menu li a i{
    margin: 0 10px 0 10px;
    color: grey;
    transition: all 0.1 ease;
}
#menu li a i:hover{
    color: white;
}
#wrapper2 {
    /* background-color: #fff; */
    background-color: rgb(29, 26, 26);
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    display: none;
}

#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#profile-details p {
    margin: 10px 0;
}

#btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btn:hover {
    background-color: #0056b3;
}
#wrapper1{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
}
#label2{
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    /* background: #e40000c0; */
    background: #ebebeb;
    border-radius:200px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4), inset 0 -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    margin: 0 0 10px 0;
}
#label2:after{
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 6px;
    /* background: linear-gradient(180deg, #ff8989, #d80b0b); */
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
#input2{
    width: 0;
    height: 0;
    visibility: hidden;
}
#input2:checked + #label2{
    /* background: #12b11ab9; */
    background: rgba(34, 34, 252, 0.822);
}
#input2:checked + #label2:after{
    left: 50px;
    transform: translateX(6px);
    /* background: linear-gradient(180deg, #7dff12, #149129); */
    background: linear-gradient(180deg, #2bb6f7, #1f4fb6);
}

#wrapper3{
    display: none;
    padding: 20px;
}

#wrapper4{
    display: none;
    padding: 20px;
    width: 100%;
}
#wrapper4 nav ul li{
    display: flex;
    list-style: none;
    height: 35px;
    width: 120px;
    color: white;
    background: blue;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
#wrapper4 nav ul li:hover{
    background: grey;
}
#wrapper4 nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: right;
    /* background: green; */
}
#wrapper4 nav{
    width: 100%;
    /* background: red; */
}